[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"

[packages]
django = "==3.1.*"
django-crispy-forms = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
django-s3-storage = "*"
django-rest-swagger = "*"
coreapi = "*"
zappa = "*"
django-s3-sqlite = "*"

[requires]
python_version = "3.*"
